<div class="card bg-light-grey p-1">
    <div class="card-body">
        <h5 class="card-title mb-3">Risk Control</h5>
        <h6 class="card-subtitle mb-2 text-muted">Use the hierarchy of controls to help lower your risk</h6>
        <div class="d-flex justify-content-end mt-4">
            <a class="learn-more-link" (click)="learnMoreHandler()">Learn more
                <span class="ms-1">
                    <fa-icon [icon]="faArrowRightSolid">
                    </fa-icon>
                </span>
            </a>
        </div>
    </div>
</div>